.venv/
plugin/LLM/*.so
plugin/LLM/train/base_model/*.bin
plugin/LLM/output/checkpoint-500/optimizer.pt
plugin/LLM/output/checkpoint-500/pytorch_model.bin
plugin/LLM/data/
**/__pycache__/
Largrange/
src/
path.json
test copy.py
test.py